body {
    background-color: #f7f9fc;
    font-family: 'Arial', sans-serif;
    color: #333;
}

h2 {
    color: #005f73;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-group .form-control {
    border-radius: 0;
    border-right: none;
}

.input-group .btn-primary {
    background-color: #005f73;
    border-color: #005f73;
}

.input-group .btn-primary:hover {
    background-color: #94d2bd;
    border-color: #94d2bd;
}

.table {
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table thead {
    background-color: #005f73;
}

.table thead th {
    color: #ffffff;
}

.table tbody tr:hover {
    background-color: #e3f2fd;
}

.btn-success {
    background-color: #94d2bd;
    border-color: #94d2bd;
}

.btn-success:hover {
    background-color: #005f73;
    border-color: #005f73;
}
