<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
</head>
<body>
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 ReStack. All rights reserved.</p>
            <ul class="footer-links">
                <li>
                    <a href="{{url_for('privacyPolicy')}}">Privacy Policy</a>
                </li>
                <li>
                    <a href="{{url_for('terms')}}">Terms of Service</a>
                </li>
                <li>
                    <a href="{{url_for('contact')}}">Contact</a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>
