<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
            .container{
                background-color: #ddd;
                padding: 20px;
                margin-top: 20px;
                margin-bottom: 20px;
                width: 500px;
            }
        </style>
    </head>
    <body>
    {%include 'navbar.html'%}
    <h1 class="text-center">Welcome!</h1>
    <h2 class="text-center">Login to your account</h2>
    <div class="container">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            
            <div class="form-group">
                <label for="email">{{ form.email.label }}</label>
                {{ form.email(class="form-control") }}
            </div>

            <div class="form-group">
                <label for="password">{{ form.password.label }}</label>
                {{ form.password(class="form-control") }}
            </div>

            <a href="{{url_for('resetpassword')}}" class="link">Forgot Password?</a>

            <div class="form-group">
                {{ form.submit(class="btn btn-primary btn-block") }}
            </div>

            <div class="form-group text-center">
                <p>Don't have an account? <a href="{{ url_for('signup.select_role') }}">Signup</a></p>
            </div>
        </form>
    </div>
    {% include 'footer.html'%}
    </body>
</html>