<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}">
  </head>
  <body>
    <nav class="navbar">
      <a href="{{ url_for('home') }}" class="nav-logo">ReStack</a>
      <ul class="nav-links">
      {%if 'user_id' in session and user_role == 'job_seeker'%}
        <li>
          <a href="{{ url_for('dashboard.jobs')}}">Jobs</a>
        </li>
      {%endif%}
        <li>
          <a href="{{ url_for('home') }}">Home</a>
        </li>
        <li>
          <a href="{{ url_for('about') }}">About</a>
        </li>
        <li>
          <a href="{{ url_for('settings')}}">Settings</a>
        </li>

        {% if 'user_id' in session %}
          <li>
            <a href="{% if user_role == 'admin' %}{{ url_for('dashboard.admin_dashboard') }}
            {% elif user_role == 'job_recruiter' %}{{ url_for('dashboard.recruiter_dashboard') }}
            {% elif user_role == 'job_seeker' %}{{ url_for('dashboard.job_seeker_dashboard') }}
            {% endif %}">Dashboard</a>
          </li>
          <li>
            <a href="{{ url_for('logout') }}">Logout</a>
          </li>
        {% else %}
          <li>
            <a href="{{ url_for('signup.select_role') }}">Signup</a>
          </li>
          <li>
            <a href="{{ url_for('login') }}">Login</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </body>
</html>