<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .form-container { display: none; } /* Hide forms initially */
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% include 'navbar.html'%}
    <form method = "POST" action="">
        {{form.hidden_tag()}}
        <div>
            {{form.username.label}}
            {{form.username()}}
        </div>
        <div>
            {{form.email.label}}
            {{form.email()}}
        </div>
        <div>
            {{form.password.label}}
            {{form.password()}}
        </div>
        <div>
            {{form.confirm_password.label}}
            {{form.confirm_password()}}
        </div>
        <div>
            {{form.submit()}}
        </div>
    </form>
    {% include 'footer.html'%}
</body>
</html> -->